@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    /*These are defaults, javascript overrides the colors. These are a failsave if JS is disabled on browser*/
    --text-color: #1c3253;
    --button-text: #5a5a5a;
    --button-colorOne: #abcad1;
    --button-colorTwo: #2e1717;
    --navbar-color: #81a0bd;
    --background-color: #472424;
    --drop-menu-color: #ffffff;
}

body {
    margin: 5px;
    background-color: var(--background-color);
    background-image:
            linear-gradient(to right, #ffffff33 1px, transparent 1px),
            linear-gradient(to bottom, #ffffff33 1px, transparent 1px);
        background-size: 20px 20px;
        /* Adjust the size of the lines */
    }
 




.navBar {
    position: fixed;
    background: linear-gradient(rgba(255, 255, 255, 0), var(--navbar-color), var(--navbar-color), rgba(255, 255, 255, 0));
    width: 120px;
    height: 100%;
    left: 0px;
    overflow: hidden;
    z-index: 0;
}

/*this is the upper left box that opens the menus for the different sections of the site on mobile*/ 
#box {
display: none;
}

.homeButton,
.artworkButton,
.aboutButton,
.artstationButton,
.githubButton,
.blueskyButton {
    width: 120px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.homeButton {
    background: var(--button-colorOne);
    left: 0px;
    top: 200px;
}

.artworkButton {
    background: linear-gradient(to top, var(--button-colorOne) 90%, var(--button-colorTwo) 100%);
    left: 0px;
    top: 300px;
}

.aboutButton {
    background: linear-gradient(to top, var(--button-colorOne) 90%, var(--button-colorTwo) 100%);
    left: 0px;
    top: 400px;
}
.artstationButton {
    background: linear-gradient(to top, var(--button-colorOne) 90%, var(--button-colorTwo) 100%);
    left: 0px;
    top: 500px;
}

.githubButton {
    background: linear-gradient(to top, var(--button-colorOne) 90%, var(--button-colorTwo) 100%);
    left: 0px;
    top: 600px;
}

.blueskyButton {
    background: linear-gradient(to top, var(--button-colorOne) 90%, var(--button-colorTwo) 100%);
    left: 0px;
    top: 700px;
}

.buttonText {
    color: var(--button-text);
        position: absolute;
        display: block;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        top: 35px;
        font-size: 20px;
        font-family: "Bebas Neue", sans-serif;
        font-style: normal;
}

#home-button {
    display: none;
}

.colormodeHolder {
    position: fixed;
    background-color: var(--navbar-color);
    width: 130px;
    height: 60px;
    left: -50px;
    border-radius: 30px;
    top: 10px;
    z-index: 1;
    filter: drop-shadow(0 3px 2px #272c4e7a);
}

#sun,
#moon {
    position: fixed;
    top: 15px;
    left: 20px;
    cursor: pointer;
    z-index: 2;
}

#moon.active,
#sun.active {
    display: none;
    opacity: 0;
    transition: 5s;
}

.homeButton:hover,
.artworkButton:hover,
.aboutButton:hover,
.artstationButton:hover,
.githubButton:hover,
.blueskyButton:hover,
.homeButton:active,
.artworkButton:active,
.aboutButton:active,
.artstationButton:active,
.githubButton:active,
.blueskyButton:active {
    filter: brightness(190%);
}

@media screen and (max-width: 1200px) {


    body {
            margin: 0px;
            background-color: var(--background-color);
        }


    .navBar {
        position: relative;
        background: linear-gradient(to right, var(--navbar-color), #33333300 50%, #eeeeee00 75%);
        width: 100%;
        overflow: hidden;
        height: 50px;
        z-index: 3;    
    }

    

    #box {
        position: absolute;
        width: 100%;
        height: 150px;
        top: 50px;
        left: -1000px;
        transition: transform .7s ease;
        z-index: 5;
        display: block;
    }

    #DropHomeButton {
        background: linear-gradient(to right, var(--navbar-color), #33333300 50%, #eeeeee00 75%);
        color: rgb(255, 255, 255);
        border: none;
        height: 80px;
        width: 50%;
        cursor: pointer;
        text-align: start;
        font-size: 24px;
        font-family: "Bebas Neue", sans-serif;
        font-style: normal;
    }

    .bar1 {
        position: absolute;
        background-color: var(--drop-menu-color);
        width: 5px;
        height: 40px;
        top: 20px;
        left: 130px;
        border-radius: 10px;
    }

    .bar2 {
        position: absolute;
        background-color: var(--drop-menu-color);
        width: 5px;
        height: 30px;
        top: 35px;
        left: 120px;
        border-radius: 10px;
        transition: transform 0.8s ease-in-out;
    }

    .bar3 {
        position: absolute;
        background-color: var(--drop-menu-color);
        width: 5px;
        height: 20px;
        top: 50px;
        left: 110px;
        border-radius: 10px;
        transition: transform 0.5s ease-in-out;
    }



    #DropDownMenu {
        width: 150px;
        height: 150px;
        background: linear-gradient(to left, var(--button-colorOne) 95%, var(--button-colorTwo) 100%);
        position: absolute;
        left: -100px;
        top: -50px;
        transform: rotateZ(30deg);
        cursor: pointer;
        border-color: rgb(101, 186, 255);
        z-index: -3;
    }

    .homeButton,
    .artworkButton,
    .aboutButton,
    .crimsonbreakersButton,
    .shopButton {
        display: none;
    }

    .colormodeHolder {
        display: none;
    }

    #moon,
    #sun {
        position: absolute;
        top: 0;
        left: 100px;
        cursor: pointer;
        z-index: 9;
    }

    #moon.active {
        transform: translateY(-50px);
        opacity: 0;
    }

    #sun.active {
        transform: translateY(-50px);
        opacity: 0;
    }
}