@import url('https://fonts.cdnfonts.com/css/ibm-plex-sans');
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    -webkit-transition: .8s;
    transition: .8s;
}
:root {
    /*These are defaults, javascript overrides the colors. These are a failsave if JS is disabled on browser*/
    --cube-color: #6c79a8;
    --text-color: #1c3253;
    --button-text:#261523;
    --button-colorOne: #886429;
    --button-colorTwo: #131736;
    --navbar-color:#648BB0;
    --background-color: #211d25;
    --drop-menu-color: #2a2e6d73;
    transition: .8s;
}
.navBar {
    position: relative;
    background-color: var(--navbar-color);
    width: 100%;
    height: 80px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 0;
}
#box {
    background-color: red;
    position: absolute;
    top: -999px;
    z-index: -1;
}

.homeButton {
    width: 150px;
    height: 150px;
    background: linear-gradient(to left, var(--button-colorOne) 60%, var(--button-colorTwo) 100%);
    position: absolute;
    left: -70px;
    top: 0px;
    cursor: pointer;
    z-index: 1;
    transform: skew(-40deg);
}


.portfolioButton {
     width: 150px;
    height: 150px;
    background: linear-gradient(to left, var(--button-colorOne) 55%, var(--button-colorTwo) 100%);
    position: absolute;
    left: 50px;
    top: 0px;
    cursor: pointer;
    z-index: 1;
    transform: skew(-40deg);
}
.aboutButton {
    width: 150px;
    height: 150px;
    background: linear-gradient(to left, var(--button-colorOne) 55%, var(--button-colorTwo) 100%);
    position: absolute;
    left: 380px;
    top: 0px;
    cursor: pointer;
    z-index: 1;
    transform: skew(-40deg);
    box-shadow: 1px -5px 4px 1px rgb(36, 28, 28);
}

.wordButton {
    width: 150px;
    height: 150px;
    background: linear-gradient(to left, var(--button-colorOne) 55%, var(--button-colorTwo) 100%);
    position: absolute;
    left: 160px;
    top: 0px;
    cursor: pointer;
    z-index: 1;
    transform: skew(-40deg);
}
.shopButton {
    width: 150px;
        height: 150px;
        background: linear-gradient(to left, var(--button-colorOne) 55%, var(--button-colorTwo) 100%);
        position: absolute;
        left: 270px;
        top: 0px;
        cursor: pointer;
        z-index: 1;
        transform: skew(-40deg);
}
.homeText {
    color: var(--button-text);
    position: absolute;
    top: 55px;
    left: 80px;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    transform: skew(40deg);
    font-size: larger;
}
.artText {
    color: var(--button-text);
    position: absolute;
    top: 55px;
    left: 50px;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    transform: skew(40deg);
    font-size: larger;
}
.aboutText {
    color: var(--button-text);
    position: absolute;
    top: 55px;
    left: 70px;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    transform: skew(40deg);
    font-size: larger;
}
.wordText {
    color: var(--button-text);
    position: absolute;
    top: 55px;
    left: 70px;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    transform: skew(40deg);
    font-size: larger;
}
.shopText {
    color: var(--button-text);
    position: absolute;
    top: 55px;
    left: 90px;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    transform: skew(40deg);
    font-size: larger;
}
#moon,
#sun {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.5s ease;
    z-index: 2;
}
#moon.active {
    transform: translateY(-50px);
    opacity: 0;
    transition: .5s;

}

#sun.active {
    transform: translateY(-50px);
    opacity: 0;
    transition: .5s;
}
#homeText {
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
    font-size: medium;
    font-family: 'Trebuchet MS';
    font-weight: bolder;
    color: var(--text-color);
}
#home-button{
    display: none;
}


@media screen and (max-width: 800px) {

    

    .navBar {
        position: relative;
        background-color: var(--navbar-color);
        width: 100%;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        height: 50px;
        z-index: 10;
        }

    #box {
        position:absolute;
        width: 100%;
        height: 200px;
        top: -500px;
        transition: transform 0.5s ease-in-out;
        z-index: 0;
    }

    /*These are the hrefs attributes*/
    #DropHomeButton {
        background-color: rgb(181, 219, 255);
        color: rgb(0, 0, 0);
        border: none;
        height: 80px;
        width: 100%;
        cursor: pointer;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: larger;
        z-index: -2;
    }

    .bar1 {
        position: absolute;
        background-color: var(--drop-menu-color);
        width: 5px;
        height: 40px;
        top: 20px;
        left: 130px;
        border-radius: 10px;
    }
    .bar2 {
        position: absolute;
        background-color: var(--drop-menu-color);
        width: 5px;
        height: 30px;
        top: 35px;
        left: 120px;
        border-radius: 10px;
        transition: transform 0.8s ease-in-out;
    }
    .bar3 {
        position: absolute;
        background-color: var(--drop-menu-color);
        width: 5px;
        height: 20px;
        top: 50px;
        left: 110px;
        border-radius: 10px;
        transition: transform 0.5s ease-in-out;
    }

    .bar4 {
        position: absolute;
        background-color: var(--drop-menu-color);
        width: 5px;
        height: 20px;
        top: 70px;
        left: 110px;
        border-radius: 10px;
        transition: transform 0.5s ease-in-out;
    }
    

    #DropHomeButton:hover {
        background-color: #FF9D00;
    }
    #DropDownMenu {
            width: 150px;
            height: 150px;
            background: linear-gradient(to left, var(--button-colorOne) 75%, var(--button-colorTwo) 100%);
            position: absolute;
            left: -100px;
            top: -50px;
            transform: rotateZ(30deg);
            cursor: pointer;
            border-color: rgb(101, 186, 255);
            z-index: -3;
            
    }
    
    .homeButton {
        display: none;
        
    }
    .portfolioButton {
        
        display: none;
    }
    .aboutButton {
       
        display: none;
    }
    .wordButton {
        display:none
    }
    .shopButton {
        display: none;
    }
    .wordText {
        display: none
    }
    #moon,
    #sun {
        position: absolute;
        scale: 70%;
        top: 0px;
        right: 10px;
        cursor: pointer;
        transition: transform 0.5s ease;
        z-index: 500;
    }
    #moon.active {
        transform: translateY(-30px);
        opacity: 0;
        transition: .5s;
        
    }
    #sun.active {
        transform: translateY(-30px);
        opacity: 0;
        transition: .5s;
    }
    #homeText {
        position: absolute;
        bottom: 1px;
        width: 100%;
        text-align: center;
        font-size: medium;
        font-family: 'Trebuchet MS';
        font-weight: bolder;
        color: var(--text-color);
    }
   

}
